<%- include('includes/head') %>
  <%- include('includes/nav2') %>

    <div class="container">
      <div class="row">
        <div class="col-lg-2"></div>

        <div class="col-lg-8 my-3">
          <h1 class="text-center">Olá <%= user.email%>
          </h1>
          <p class="text-center lead">Bem vindo a sua agenda!</p>

          <%- include('includes/messages') %>
            <div class="d-flex justify-content-center">
              <a class="btn btn-primary lead" href="/contato/index">Cadastre um contato</a>
            </div>

        </div>

        <div class="col-lg-2"></div>
      </div>
    </div>

    <%- include('includes/footer') %>